.search-bar{
    width: 40%;
    height: 35px;
    color: #FB0A72;
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border: none;
    border-radius: 18px;
    background-color: #f1f1f1;
    outline: none;
}
.search-bar::placeholder{
    color: #FB0A72;
    font-size: 14px;
    opacity: 0.8;
}

/* mobile design */

@media  screen and (max-width:576px) {
    .search-bar{
        width: 40%;
    } 
}